# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/

# Test / coverage
.tox/
.pytest_cache/
.coverage
htmlcov/
coverage.xml

# Editors
.vscode/
.idea/
*.swp
.DS_Store
